.form__input-name {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid rgba(#000000, #000000, #000000, 0.2);
  width: 358px;
  height: 27px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: auto;
  margin: 54px auto 0 auto;
}

@media screen and (max-width: 700px) {
  .form__input-name {
    width: 238px;
    margin-top: 75px;
  }
}